@import '/assets/scss/variables.scss';
* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}

.shadow-bottom{
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.shadow-hover{
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  transition: box-shadow 1s;
  &:hover{
    box-shadow: 0 0 16px rgba(0,0,0,0.3);
  }
}
.icon-free{
  background-color: $font-hover-green;
  color: $font-white;
  padding: 2px 8px;
}
#app-container{
  padding: 0;
  background-color: $background-page;
  z-index: 0;
}
//内容区域
.content-container{
  width: 1200px;
  margin: 0 auto;
}
//分页设置
.pagination-container{
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}
//页面常规
.page{
  width: 1200px;
  margin: 0 auto;
}
.blank{
  height: 100px;
}

@for $index from 2 through 8 {
  #{".mt"+$index} {
    margin-top: #{(2*$index)+px};
  }
}

@for $index from 2 through 8 {
  #{".ml"+$index} {
    margin-left: #{(2*$index)+px};
  }
}

@for $index from 2 through 8 {
  #{".pd"+$index} {
    padding: #{(2*$index)+px};
  }
}

@for $index from 2 through 8 {
  #{".pdl"+$index} {
    padding-left: #{(2*$index)+px};
  }
}

@for $index from 2 through 8 {
  #{".bdr"+$index} {
    border-radius: #{(2*$index)+px};
  }
}

.video-title{
  font-size: 18px;
  font-weight: 600;
  color: $font-normal;
}

//入场动画
.entry-anime{
  //动画
  animation-name: entry-bottom-top-anime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--et) * 0.1);
  top: 50px;
  opacity: 0;
}
@keyframes entry-bottom-top-anime {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.el-tabs__active-bar{
  background-color: red;
  color: red;
}
