* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
$baseColor: rgb(48, 245, 196);
$hoverColor: rgb(3, 204, 155);
//热门卡片
.hot-card-container {

  margin-top: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 600px;
  // background-color: rgba(95, 240, 90, 0.4);
  // padding: 8px 15px;
  >h1 {
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: gray;
  }
  >h1::before {
    content: "";
    background-color: $baseColor;
    position: absolute;
    margin: 0 auto;
    top: 1.5em;
    height: 5px;
    width: 3.5em;
    cursor: pointer;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    flex-wrap: wrap;
    align-items: center;
    //   background-color: rgba(215, 223, 205, 0.4);
    // padding: 8px 15px;
    margin-top: 30px;
    justify-content: center;

  }
  .all-card{
    position: relative;
    box-sizing: border-box;
    font-size:26px;
    font-weight:500;
    color: $baseColor;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:1s;
    margin-top:2em;
    margin-bottom:2em;
    &:hover::before{
      background-color:rgba(0, 0, 0, 0.02);
    }
    &:hover{
      color:$hoverColor;
    }
    &::before{
      transition:0.5s;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 3px solid $baseColor;
      border-radius: 1em;
      z-index:-1;
    }
    a{
      text-indent:0.5em;
      letter-spacing: 0.5em;
      display: flex;
      padding: 0.1em 2em;
      justify-content: center;
      text-decoration: none;
      color: inherit;
    }
  }
}

.entry-anime{
  //动画
  animation-name: entry-bottom-top-anime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--et) * 0.1);
  top: 50px;
  opacity: 0;
}


@keyframes entry-bottom-top-anime {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
